/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --title-decor: #000028;
    --title-color: #DB00FF;
    --title-shadow: #FF0070;
    --accent-color: #FF0070;
    --title-bg: #FF0070;
    --link-shadow: #FF0070;
    --text-color: #F1B2CE;
    --outline-color: rgba(255, 0, 112, 0.4);
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
}